.book-inner {
  margin-bottom: 50px;

}

.book-inner__info {
  display: flex;
  margin-top: 48px;
  gap: 130px;
  margin-bottom: 72px;
}

ul{
  list-style: none;

}

li{
  display: flex;
  justify-content: space-between;
}

.links {
  margin-top: 50px;
}

a {
  padding-right: 24px;
}
